/*------------HTML tags-----------------*/

body{
    
    margin: 0;
    
    
    

}

/*--------------------------Class-----------------------------*/

/*--------------------Customizing Fonts, little bit of positioning as well--------------------------*/
.font01{
    font-size: 2vw;
}
.font02{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 3vw;
    color: red;
    font-weight: 600;
    margin: 0;
    
}
.spos{
    font-weight: 300;
    position: relative;
    font-family: 'Nunito', sans-serif;
    
    
    
    font-size: 1.05vw;
    padding-top: 0.4vw;
    text-align: justify;
    

}
.spos2{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: 500;
    font-size: 2.5vw;
    position: relative;
    top:3vw;
    left:1vw;
    
    padding-top: 2vw;
    color: rgb(0, 181, 247);
    
}

.spos3{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.05vw;
    position: relative;
    top:3vh;
    left:1vw;
    
    padding-top: 2vw;
    text-align: justify;
    
}
.spos4{
    
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: 500;
    font-size: 2.15vw;
    text-align: center;
    color: rgb(156, 131, 131);
    position: relative;
    top:24vw;
    border: 0;
    margin: 0;
    padding: 0;
    
}

.spos5{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: 500;
    font-size: 2.15vw;
    text-align: center;
    color: rgb(156, 131, 131);
    position: relative;
    
    border: 0;
    margin-top: 10vw;
    padding: 0;

}
.spos6{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.35vw;
    text-align: center;
    color: rgb(156, 131, 131);
    position: relative;
    
    margin-top:3vw;
    margin-bottom:0;

}
.spos7{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 0.85vw;
    text-align: center;
    color: rgb(156, 131, 131);
    position: relative;
    margin-top:0.2vw;
    
    

}
.spos8{
    
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.05vw;
    position: relative;
    text-align: center;
    top:0vh;
    color: rgb(156, 131, 131);
   
    
    padding-top: 2vw;
    

}

/*---------------------Different Sections Customization------------------------*/

.top{
    height: 57vw;
    
    background-image: url("resources/header-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    
    

}

.mid1{
    height: 45vw;
    
    
    background-image: url("resources/biography-bg.png");
    background-size:auto;
    background-repeat: no-repeat;
   
    
    
}
.mid2{
    height: 70vw;
    
    
    
    background-image: url("resources/latest-work-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    
}

.bottom{
    height:60vw;
    
    background-image: url("resources/footer-bg.png");
    background-size: auto;
    background-repeat: no-repeat;

}
.foot{
    
    font-size:x-small;
    
}

/*All about positioning*/

.pos1{
    position: relative;
    left: 8vw;
    top: 3vh;
    
   
}
.centralPos{
    position: relative;
    top: 12vh;
    right: 2vw;
}
.centralPos1{
    position:relative;
    top:8vh;
}

/*----------------------Customizing Divs and its images------------------------*/

.div01{
    float: left;
    width: 40%;
    margin-left:4%;
    margin-top: 2%;
    
    padding: 2%;

}

.div01 img{
    position:relative;
    right: 2vw;
    top: 7vh;

    width: 80%;
}
.div02{
    float: left;
    width: 40%;
    margin-left:4%;
    
    
    padding: 2%;
   
    height: 30vw;
}
.div02 img{
    width: 75%;
    position:relative;
    left:4vw;
}
.div03{
    float: left;
    width: 25%;
    position: relative;
    margin-top: 35vw;
    position: relative;
    left:13vw;
    

    
    
   

}
.div03 img{
    width: 90%;
    
}



/*--------------------Customizing Buttons-----------------------------*/


.button01{
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color:white;
    position: relative;
    top:4.5vh;
    font-size:0.925vw;
    
    padding: 0.55vw 0.65vw;
    border-radius: 1vw;
    background-image: linear-gradient(45deg,salmon,tomato) ;
}

.button02{
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: white;
    position: relative;
    top:4.4vh;
    left:1vw;
    font-size:0.925vw;
    padding: 0.55vw 0.65vw;
    border-radius: 1vw;
    background-image: linear-gradient(45deg,salmon,tomato) ;

}

.lbutton{
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color:white;
    position: relative;
    top:15.5vh;
    font-size:0.925vw;
    margin: 0;
    width:30%;
    text-align: center;
    position: relative;
    left:34vw;
    
    padding: 0.55vw 0.65vw;
    
    background-image: linear-gradient(45deg,rgb(224, 107, 94),rgb(247, 44, 8)) ;

}

/*--------------Some IDs, positioning as well--------------*/


#dp2{
    position: relative;
    top:3vw;
}

#speDiv{
    position: relative;
    text-align: center;
}